 <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn mr-5" (click)="toggleSidebar()" ></i>
      <a  class="logo d-flex align-items-center" style="text-decoration: none; cursor:pointer" routerLink="/">
        <span class="d-none d-lg-block">My School</span>
      </a> 
    </div>
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link nav-icon">
            Academic Year - 2024
          </a>
        </li>
      </ul>
    </nav>
  </header>
