.student-info-box {
    border: solid #007bff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
    background-color: aliceblue;
  }

  /* for card */
  .student-info-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.card-header {
    padding: 10px;
    background-color: #ffc107;
}

.card-body {
    padding: 20px;
}
