<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">

      <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
        <i class="fas fa-home"></i> Dashboard
      </a>
    </li>

    <li class="nav-item">

      <a class="nav-link" routerLink="students" routerLinkActive="active">
        <i class="fas fa-user-graduate"></i> Students
      </a>
    </li>
    <li class="nav-item">

      <a class="nav-link" routerLink="teachers" routerLinkActive="active">
        <i class="fas fa-chalkboard-teacher"></i> Teachers
      </a>
    </li>
    <li class="nav-item">

      <a class="nav-link" routerLink="schedule" routerLinkActive="active">
        <i class="fas fa-calendar"></i> Schedule
      </a>
    </li>
    <li class="nav-item">

      <a class="nav-link" routerLink="academic_details" routerLinkActive="active">
        <i class="fas fa-book"></i> Academic Details
      </a>
    </li>
    <li class="nav-item">

      <a class="nav-link" routerLink="subjects_allocation" routerLinkActive="active">
        <i class="fas fa-chalkboard"></i> Subjects
      </a>

    </li>
    <li class="nav-item">

      <a class="nav-link" routerLink="notice" routerLinkActive="active">
        <i class="fas fa-bullhorn"></i> Notice Board
      </a>
    </li>
    <li class="nav-item">

      <a class="nav-link" routerLink="/add_path" (click)="handleLogOut()">
        <i class="fas fa-sign-out-alt "></i> Logout
      </a>

    </li>

  </ul>

</aside><!-- End Sidebar-->