<main id="main" class="main">
    <section>
        <div class="row">
            <div class="col-md-4" style="padding: 1%;">
                <div class="shadow dashboard-card" style="background-color: #6761DA;">
                    <div class="row">
                        <!-- First child div on the left side -->
                        <div class="col-6 align-self-center text-center">
                            <h5 >Total Class</h5>
                            <p>{{dashboardNumbers?.total_classes}}</p>
                        </div>
                        <!-- Second child div on the right side -->
                        <div class="col-6 align-self-center text-center">
                            <i class="fas fa-school" style="font-size: 35px; color: #EB9F2F;;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 1%;">
                <div class="shadow dashboard-card " style="background-color: #D24C4C;">
        
                    <div class="row">
                        <!-- First child div on the left side -->
                        <div class="col-6 align-self-center text-center">
                            <h5>Total Subjects</h5>
                            <p>{{dashboardNumbers?.total_subjects}}</p>
                        </div>
                        <!-- Second child div on the right side -->
                        <div class="col-6 align-self-center text-center">
                            <i class="fas fa-book" style="font-size: 35px; color: #007bff;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding: 1%;">
                <div class="shadow dashboard-card" style="background-color: #EB9F2F; ">
        
                    <div class="row">
                        <!-- First child div on the left side -->
                        <div class="col-6 align-self-center text-center">
                            <h5 >Total Lectures</h5>
                            <p>{{dashboardNumbers?.total_lectures}}</p>
                        </div>
                        <!-- Second child div on the right side -->
                        <div class="col-6 align-self-center text-center">
                            <i class="fas fa-clock" style="font-size: 35px; color: #6610f2;"></i>
                        </div>
                    </div>
                </div>
            </div>
           <!-- <div class="col-md-3" style="padding: 1%;">
                <div class="shadow dashboard-card" style="background-color: #2D8BDC;">
        
                    <div class="row">
                       
                        <div class="col-6 align-self-center text-center">
                            <h5>End Time</h5>
                            <p>Something</p>
                        </div>
                       
                        <div class="col-6 align-self-center text-center">
                            <i class="fas fa-stopwatch" style="font-size: 35px; color: #d8d449;"></i>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--  <div class="col-md-4" style="padding: 1%;">
                <div class="shadow dashboard-card" style="background-color: #f8f9fa; ">
        
                    <div class="row">
                       
                        <div class="col-6 align-self-center text-center">
                            <h5 style="color: #495057;">End Time</h5>
                            <p>Something</p>
                        </div>
                        
                        <div class="col-6 align-self-center text-center">
                            <i class="fas fa-stopwatch" style="font-size: 35px; color: #28a745;"></i>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        
        <div class="row">
            <div class="col-md-6" style="padding: 1%;">
                
                    <div class="my-3 p-3  rounded box-shadow br-5" >
                        <h6 class=" border-none pb-2 mb-0 ml-0">Today's Schedule</h6>
                      
                        <div class="card schedule mb-3 border-bottom border-gray" *ngFor="let t of todays_timetable ; let i = index">
                            <ng-container *ngIf="day_of_week === t.day_of_week">
                                <div class="card-body"  [ngClass]="{'active-class': isCurrentHour(t.start_time)}"  id="{{i}}">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title">{{ t.subject_name }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Class : {{ t.class_id}}</h6>
                                            <p class="card-text">Time: {{ t.start_time }}:00  - {{ t.end_time }}:00 </p>
                                        </div>
                                        <div *ngIf="isCurrentHour(t.start_time)" class="col text-right">
                                            <h5 style="color: #007bff;">Ongoing Class</h5>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        
                        
                    </div>
               
            </div>
        
        
            <div class="col-md-6" style="padding: 1%;">
                
        
        
                    <div class="shadow my-3 p-3 bg-white rounded box-shadow">
                        <h6 class="border-none pb-2 mb-0 ml-0">Recent Updates</h6>
        
                        <!-- add for loop to this div -->
                        <ng-container *ngIf="notices && notices.length > 0">
                        <div class="media text-muted pt-3" *ngFor="let notice of notices.slice(0,3);let i = index">
                            <ng-container *ngIf="!isNoticeExpired(notice.expiry_date)">
                                <div class="mr-2 rounded-circle  text-white"
                                    style="width: 32px; height: 32px; line-height: 32px; text-align: center; background-color:#e14177">
                                    {{notice.publish_date | slice:-2}}</div>
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                    <h6 class="mb-2">{{notice.title}}</h6>
                                    <div class="text-gray-dark">Date: {{notice.publish_date}}</div>
                                    <p>
                                        {{notice.content}}
                                    </p>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
        
        
        
                        <small class="d-block text-right mt-3">
                            <a routerLink="/teacher/official/main/notice-board">All messages</a>
                        </small>
                    </div>
              
        
            </div>
        </div>
    </section>
</main>