<div class="col">
    <div class="row">
        <div class="col-2 mb-3">
            <select name="" id="" class="dropdown btn btn-secondary w-100">
                <option value="">Class 1</option>
                <option value="">Class 2</option>
                <option value="">Class 3</option>
                <option value="">Class 4</option>
                <option value="">Class 5</option>
            </select>
        </div>
        <div class="col-2 mb-3">
            <select name="" id="" class="dropdown btn btn-primary w-100">
                <option value="">Sub 1</option>
                <option value="">Sub 2</option>
                <option value="">Sub 3</option>
                <option value="">Sub 4</option>
                <option value="">Sub 5</option>
            </select>
        </div>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Roll No</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Status</th>
                    <th scope="col">Mark Attendance</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td class="align-middle">Mark</td>
                    <td class="align-middle">Otto</td>
                    <td class="align-middle ">P</td>
                    <td class="align-middle ">
                        <div class="btn-group" role="group" aria-label="Mark Attendance">
                            <button type="button" class="btn btn-danger">A</button>
                            <button type="button" class="btn btn-primary">P</button>
                            <button type="button" class="btn btn-success">L</button>
                        </div>
                    </td>
                    <td class="align-middle ">
                        <button class="btn btn-primary">Submit</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td class="align-middle">Mark</td>
                    <td class="align-middle">Otto</td>
                    <td class="align-middle ">P</td>
                    <td class="align-middle ">
                        <div class="btn-group" role="group" aria-label="Mark Attendance">
                            <button type="button" class="btn btn-danger">A</button>
                            <button type="button" class="btn btn-primary">P</button>
                            <button type="button" class="btn btn-success">L</button>
                        </div>
                    </td>
                    <td class="align-middle ">
                        <button class="btn btn-primary">Submit</button>
                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>