<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://png.pngtree.com/png-clipart/20211017/original/pngtree-school-logo-png-image_6851480.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="card col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <!-- login -->
        <form class="m-5" *ngIf="!forgotPassword">
          <div class="flex align-items-center text-center my-4 ">
            <h3 class="text-center mb-5" style="color: #002A66;">
              Log In
            </h3>

            <!-- <i class="bi bi-person " ></i> -->
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
            <div class="divider"></div>

          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" name="login_id" [(ngModel)]="login_id" required />
            <div class="invalid-feedback">Please enter a valid email address.</div>
          </div>

          <div data-mdb-input-init class="form-outline mb-3 position-relative">
            <input type="{{ showPassword ? 'text' : 'password' }}" id="form3Example4"
              class="form-control form-control-lg pr-5" placeholder="Enter password" name="password"
              [(ngModel)]="password" required #passwordField="ngModel" />
            <i class="fas fa-eye  position-absolute end-0 top-50 translate-middle-y" style="margin-right: 10px;"
              (click)="togglePasswordVisibility()"></i>
          </div>

          <div class="d-flex justify-content-between align-items-center">

            <a class="text-body" style="cursor: pointer;" (click)="toggleForgotPassword()">Forgot password?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #002A66; border-color: #002A66;"
              (click)="handleSubmit()">Login</button>

          </div>
        </form>


        <!-- forgot password -->
        <form class="m-5 pt-3" *ngIf="forgotPassword">
          <div class="flex align-items-center my-4 ">
            <h3 class="text-center mb-5" style="color: #002A66;">
              Change Password
            </h3>
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
            <div class="divider"></div>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" name="login_id" [(ngModel)]="login_id" required />
            <div class="invalid-feedback">Please enter a valid email address.</div>
          </div>
          <div data-mdb-input-init class="form-outline mb-3 position-relative">
            <input type="{{ showPassword ? 'text' : 'password' }}" id="form3Example4"
              class="form-control form-control-lg pr-5" placeholder="Enter password" name="password"
              [(ngModel)]="password" required #passwordField="ngModel" />
            <i class="fas fa-eye  position-absolute end-0 top-50 translate-middle-y" style="margin-right: 10px;"
              (click)="togglePasswordVisibility()"></i>
          </div>

          <div data-mdb-input-init class="form-outline mb-3 position-relative">
            <input type="{{ showPassword ? 'text' : 'password' }}" id="form3Example4"
              class="form-control form-control-lg pr-5" placeholder="Confirm Password" name="confirmPassword"
              [(ngModel)]="confirmPassword" required #passwordField="ngModel" />
            <i class="fas fa-eye  position-absolute end-0 top-50 translate-middle-y" style="margin-right: 10px;"
              (click)="togglePasswordVisibility()"></i>
          </div>

          

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: #002A66; border-color: #002A66;"
              (click)="handleChnagePassword()">Change Password</button>
              
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">

            <p>Remember your password? <a style="cursor: pointer;" (click)="toggleForgotPassword()">Log in</a></p>
          </div>
         
        </form>
      </div>
    </div>
  </div>
</section>