
    <!-- Hamburger Icon for toggling sidebar -->
    <div class="toggle-btn" id="sidebar-toggle" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </div>

  <!-- Sidebar for Large Screens -->
  <div class="sidebar d-none d-lg-block">
    <nav>
      <ul class="nav flex-column">
        <li class="nav-item">
          <hr class="divider">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
            <i class="fas fa-home"></i>  Dashboard
          </a>
        </li>
        <li class="nav-item">
          <hr class="divider">
          <a class="nav-link" routerLink="schedule" routerLinkActive="active">
            <i class="fas fa-calendar"></i>  Schedule
          </a>
        </li>
        <li class="nav-item">
          <hr class="divider">
          <a class="nav-link" routerLink="students/mark/attendance" routerLinkActive="active">
            <i class="fas fa-user-check"></i> Mark Attendance
          </a>
        </li>
        <li class="nav-item">
          <hr class="divider">
          <a class="nav-link" routerLink="students/add/grades" routerLinkActive="active">
            <i class="fas fa-graduation-cap"></i> Add Grades
          </a>
        </li>
        <li class="nav-item">
          <hr class="divider">
          <a class="nav-link" routerLink="official/main/notice-board" routerLinkActive="active">
            <i class="fas fa-bullhorn"></i> Notice Board
          </a>
        </li>
        <li class="nav-item">
          <hr class="divider">
          <a class="nav-link" routerLink="students/attendance" (click)="handleLogOut()">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
          <hr class="divider">
        </li>
      </ul>
      
    </nav>

    
  </div>

  <!-- Sidebar for Small Screens -->
  <div class="sidebar-small d-lg-none">
    <nav>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
            <i class="fas fa-home"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="schedule" routerLinkActive="active">
            <i class="fas fa-user"></i> Schedule2
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="students/attendance" routerLinkActive="active">
            <i class="fas fa-cog"></i> Attendance
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="students/attendance" routerLinkActive="active">
            <i class="fas fa-cog"></i> Attendance
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Content area -->
  <div class="content-header content-area" style="height: fit-content;">
    <h2>Welcome to the School Management Portal</h2>
  </div>
  <div class="content-area">
    
    <div class="container-fluid">
      
      <router-outlet></router-outlet>
    </div>
  </div>


