
    <!-- <div class="sidebar d-none d-lg-block">
      <nav>
        <ul class="nav flex-column">
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
              <i class="fas fa-home"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="students" routerLinkActive="active">
                <i class="fas fa-user-graduate"></i>  Students 
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="teachers" routerLinkActive="active">
                <i class="fas fa-chalkboard-teacher"></i> Teachers
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="schedule" routerLinkActive="active">
              <i class="fas fa-calendar"></i> Schedule
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="academic_details" routerLinkActive="active">
              <i class="fas fa-book"></i> Academic Details
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="subjects_allocation" routerLinkActive="active">
              <i class="fas fa-chalkboard"></i> Subjects
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="notice" routerLinkActive="active">
              <i class="fas fa-bullhorn"></i> Notice Board
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="/add_path" (click)="handleLogOut()">
              <i class="fas fa-sign-out-alt "></i> Logout
            </a>
            <hr class="divider">
          </li>
        </ul>
        
      </nav>
  
      
    </div>
  
    
    <div class="sidebar-small d-lg-none">
      <nav>
        <ul class="nav flex-column">
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
              <i class="fas fa-home"></i>  Dashboard
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="students" routerLinkActive="active">
                <i class="fas fa-user-graduate"></i>  Students 
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="teachers" routerLinkActive="active">
                <i class="fas fa-chalkboard-teacher"></i> Teachers
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="students/add/grades" routerLinkActive="active">
              <i class="fas fa-calendar"></i> Schedule
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="official/main/notice-board" routerLinkActive="active">
              <i class="fas fa-bullhorn"></i> Notice Board
            </a>
          </li>
          <li class="nav-item">
            <hr class="divider">
            <a class="nav-link" routerLink="students/attendance" (click)="handleLogOut()">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            <hr class="divider">
          </li>
        </ul>
      </nav>
    </div> -->
  
    <!-- Content area -->
    <!-- <div class="content-header content-area row" style="height: fit-content; background-color:#01427a">
      <h2 class="col-10">Welcome to the School Management Portal</h2>
      <h6 class="col-2">Academic Year : {{ currentYear }}</h6>
      
    </div> -->
    
  
        <app-sidebar></app-sidebar>
        <router-outlet></router-outlet>
    
  
  